

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');

html {}

body {
  background: #FBFCFD;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.App {}